<!-- begin blog -->
<section class="section blog">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title }}</h2>
              <a class="section__link" href="{{ site.base_url }}{{include.link_url}}">{{ include.view_all }} <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            <div class="section__description">{{ include.description_html }} </div>
          </div>

          {% if include.show_posts %}
          <div class="row">
            {% assign filtered_posts = site[page.collection] | where_exp: "post", "post.path contains '/posts/'"  | reverse  %}

            {% if filtered_posts.size > 0 %}
              {% for post in filtered_posts offset:0 limit:3 %}
                {% bookshop blog-card post=post %}
              {% endfor %}
            {% endif %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end blog -->