{% assign toggle_text = site.data.toggle[page.collection] %}
<div id="dark-mode-toggle">
    <div class="toggle-text">
        <div>
            {% include dark-mode-icon.html %}
        </div>
        <div>
            {% include light-mode-icon.html %}
        </div>
    </div>
    <div class="label">
        <div class="darkLabel">
            {% include dark-mode-icon.html %}
        </div>
        <div class="lightLabel">
            {% include light-mode-icon.html %}
        </div>
    </div>
</div>