---
layout: default
---

{% assign previous_project = nil %}

{% for project in site[page.collection] %}
  {% if project.url == page.url %}
    {% break %}
  {% endif %}

  {% if project.path contains "/projects/" %}
    {% assign previous_project = project %}
  {% endif %}
{% endfor %}

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate" style="text-align: justify;">
    {{ content }}
  </div>

  {% if previous_project %}
  <div class="project-navigation animate">
    <a class="project-prev" href="{{previous_project.url}}">
      <div class="project-box">
        <span class="project-nav-info">Next Project</span>
        <h2 class="project-nav-title">{{previous_project.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>

{% include newsletter.html %}